{{ define "main" }}

<div class="archive wrap">
    {{ partial "navigation.html" . }}
    {{ $paginator := .Paginate (.RegularPages) 20 }}
    <div class="content-wrap">
        <div class="left-wrap">
            {{ range $paginator.Pages }}
            <div class="posts">
                <span class="post-title">
                    <a href="{{ .Permalink }}">
                        {{ .Title }}
                    </a>
                </span>
                <span class="post-date">
                    {{ .Date.Format "2006-01-02" }}
                </span>
            </div>
            {{ end }}
            {{ partial "pagination.html" . }}
        </div>          
        <div class="right-wrap">
            <div class="cate">
                <p>ALL CATEGORIES</p>
             {{ range $categories, $taxonomy := .Site.Taxonomies.categories }}
                <a href="{{ "/categories/" | relLangURL}}{{ $categories | urlize }}">
                    <img src="/images/category-image/{{ humanize $categories }}.png" alt="">
                    {{- humanize $categories -}}
                    <span>({{ .Count }})</span>
                </a>
            {{ end }}
            </div>

            <div class="tag">
                <p>ALL TAGS</p>
            {{ range $tags, $taxonomy := .Site.Taxonomies.tags }}
                <a href="{{ "/tags/" | relLangURL}}{{ $tags | urlize }}">
                    {{- $tags -}}
                    <span>({{ .Count }})</span>
                </a>
            {{ end }}
            </div>
        </div>
    </div>
</div>

{{ end }}