{{ define "main" }}
    <div class="taxo wrap">
        {{ partial "navigation.html" . }}
        
        {{/*  {{ $title := .Title}}
        {{ with .Site.Taxonomies.categories }}
            {{ range $name, $taxonomy := . }}
                {{ $cateterm := $name }}
                {{ if eq $cateterm $title }}     
                    <p>{{ $taxonomy.Count }} blogs</p>
                {{ end }}
            {{ end }}
        {{ end }}  */}}

        {{/*  {{ with .Site.Taxonomies.tags }}
            {{ range $name, $taxonomy := . }}
                {{ $cateterm := $name }}
                {{ if eq $cateterm $title }}     
                    <p>{{ $taxonomy.Count }} blogs</p>
                {{ end }}
            {{ end }}
        {{ end }}  */}}

        <div class="content-wrap">
            <div class="taxo-name">{{ .Title }}</div>
            {{ range .Pages }}
                <div class="post">
                    <span>
                        <a href="{{ .Permalink }}">{{ .Title }}</a>
                    </span>   
                    <span>{{ .Date.Format "2006-01-02" }}</span>   
                </div>

            {{ end }}
        </div>
    </div>
{{ end }}