{{ define "main" }}
<div class="terms wrap">
    {{ partial "navigation.html" . }}
    <div class="content-bg">
        <div class="cate">
            <p>ALL CATEGORIES</p>
        {{ range $categories, $taxonomy := .Site.Taxonomies.categories }}
            <a href="{{ "/categories/" | relLangURL}}{{ $categories | urlize }}">
                <img src="/images/category-image/{{ humanize $categories }}.png" alt="">
                {{- humanize $categories -}}
                <span>({{ .Count }})</span>
            </a>
        {{ end }}
        </div>
        <div class="tag">
            <p>ALL TAGS</p>
        {{ range $tags, $taxonomy := .Site.Taxonomies.tags }}
            <a href="{{ "/tags/" | relLangURL}}{{ $tags | urlize }}">
                {{- $tags -}}
                <span>({{ .Count }})</span>
            </a>
        {{ end }}
        </div>
    </div>
</div>
{{ end }}