$front-bg-color:#ffffff;
$back-bg-color:#ffffff;
$footer-bg-color:#2d2d2d;

$accent-color:#fc4041;
$default-font-color:#2d2d2d;
$title-font-color:#1D1D1D;
$sencondary-font-color:#707070;
$last-font-color: #999999;
$quota-bg-color: #f3f3f3;

$thead-bg-color: #e6e6e6;
$tbody-bg-color:#f5f5f5;

$front-bg-width:920px;
$content-width:80%;
$side-null-width:25%;

$default-font: "Noto Sans SC", Helvetica;
$code-font: "Fira Code", Montserrat, Cousine;
$accent-font: "Noto Serif SC", Helvetica;

$default-font-size: 16px;

@function pxTorem($px) {
    @return $px / $default-font-size * 1rem;
}

@font-face {
    font-family: 'iconfont';  /* project id 2271169 */
    src: url('//at.alicdn.com/t/font_2271169_oa2euyk4hsr.eot');
    src: url('//at.alicdn.com/t/font_2271169_oa2euyk4hsr.eot?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_2271169_oa2euyk4hsr.woff2') format('woff2'),
    url('//at.alicdn.com/t/font_2271169_oa2euyk4hsr.woff') format('woff'),
    url('//at.alicdn.com/t/font_2271169_oa2euyk4hsr.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_2271169_oa2euyk4hsr.svg#iconfont') format('svg');
}


//globle style

* {margin: 0;padding: 0;box-sizing: border-box;}

body {
    color: $default-font-color;
    font-size: pxTorem(16px); 
    line-height: 1.8rem; 
    font-family: $default-font;
    text-rendering: optimizeLegibility !important;
    scroll-behavior: smooth !important;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-font-smoothing: initial;
}
a {text-decoration: none; font-family: $default-font; color: $default-font-color;}

a:hover {
    text-decoration: none;
    color: $sencondary-font-color;
}

::selection {
    color: white;
    background-color: $accent-color;
}
// globle style end

//markdown style

h1,h2,h3 {
    font-weight: 700;
    word-break: break-all;
}

h1 {
    font-size: 2rem;
    line-height: 2.2rem;
    margin: 0 auto;
    @media screen and (max-width:1000px) {
        font-size: pxTorem(24px);
    }
}

h2 {
    font-size: 1.8rem;
    margin: 20px auto;
}

h3 {
    font-size: 1.75rem;
    margin: 20px auto;
}

h4 {
    font-size: 1.5rem;
}

h5, h6 {
    font-size: 1.25rem;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

img {
    max-width: 100%;
}

blockquote {
    background-color: $quota-bg-color;
    margin: 2rem -4rem;
    padding: 2rem 4rem;
    font-family: $accent-font;
    position: relative;
    z-index: 999;
    p {
        color: $default-font;
        margin-bottom: 0 !important;
    }
    &::after {
        font-family: 'iconfont';
        content: '\ec81';
        font-size: 60px;
        color:rgb(184, 184, 184);
        position: absolute;
        top: pxTorem(20px);
        left: 20px;
        z-index: -1;
    }
}

ul, ol {
    list-style-position: inside;
    margin: 1.5rem;
}

// markdown style end



#homepage {
    .bgtop {
        background:url('/images/homepage-top.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position-x: center;
        width: 100%;
        height: 320px;
    }
    .content-bg {
        width: $front-bg_width;
        max-width: 100%;
        border-radius: 4px;
        border: 1px solid #e2e2e2;
        background-color: $front-bg-width;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        margin: 0 auto;
        margin-bottom: 40px;
    }
    .homepage-posts {
        margin:auto;
        margin-top: pxTorem(56px);
        margin-bottom: pxTorem(30px);
        width: $content-width;
        .post-title {
            text-align: center;
            margin-top: pxTorem(56px);
            margin-bottom: pxTorem(12px);
            a:hover {
                border-bottom: 1px solid $default-font-color;
            }
        }
        .post-date {
            margin-bottom: 26px;
            text-align: center;
            font-size: 14px;
            color: $last-font-color;
        }
        img {
            display: block;
            border-radius: 4px;
            width: 90%;
            height: auto;
            margin: 0 auto;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.16);
            margin-bottom: 30px;
            transition: ease-out .3s all;
            &:hover {
                box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.4);
                transform: translateY(-10px);
                transition: ease-out .3s all;
            }
        }
        .post-summary {
            text-align: left;
            color: $sencondary-font-color;
        }
        .post-meta {
            margin-top: pxTorem(50px);
            font-size: pxTorem(14px);
            color: $last-font-color;
            @media screen and (max-width:640px) {
                margin-top: pxTorem(20px);                       
            }
            .post-cate, .post-tags {
                font-weight: 700;
                margin-right: pxTorem(18px);
                @media screen and (max-width:640px) {
                    display: none;                   
                }
            }
            .post-tags a::before {
                font-family: "iconfont";
                content: "\e6da";
            }
            .more {
                position: relative;
                margin-right: 0px;
                float: right;
                z-index: 1;
                @media screen and (max-width:640px) {
                    display: block;
                    position: unset;
                    float: unset; 
                    a:before {
                        display: none;
                    }                   
                }
                a {
                    margin-right: pxTorem(10px);
                    z-index: 10;
                    font-weight: 700;
                }
                svg {margin-left: pxTorem(10px);}  
                a::before {
                    position: absolute;
                    content: "";
                    top: pxTorem(-14px);
                    left: pxTorem(50px);
                    width: pxTorem(64px);
                    height: pxTorem(64px);
                    border-radius: 50%;
                    background: #F2F2F2;
                    transition: all .1s ease-in;
                    z-index: -1;
                }
                a:hover {
                    &::before {
                        background: $accent-color;
                        transition: all .1s ease-in;
                    }
                    & path {
                        position: relative;
                        fill: white;
                        transition: all .1s ease-in;
                        @media screen and (max-width:640px) {
                            fill: #1b1b1b;
                        }
                    }
                }
            }
        }
    }
    .post-divider {
        margin-top: pxTorem(12px);
        height: 0px;
        background: transparent;
        border: 1px solid #ebebeb;
    }
    &:last-child .post-divider {
        border: 0px;
    }
}

#footer {
    background-color: $footer-bg-color;
    padding: pxTorem(30px);
    .content {
        // width: ($content-width / 100%) * $front-bg-width;
        text-align: center;
        color: $sencondary-font-color;
        a {color: $accent-color;}
    }
}

#home-navigation {
    height: 0px;
    padding-right: 10px;
    padding-left: 10px;
    .nav-wrapper {
        width: $front-bg-width;
        max-width: 100%;
        margin: 0 auto;
        position: relative;
        top: 220px;
        height: 80px;
        .sitelogo {
            position: absolute;
            bottom: 0;
            float: left;
            font-size: pxTorem(36px);
            font-weight: 700;
        }
        .menu-list {
            position: absolute;
            bottom: 0;
            right: 0;
            float: right;
            list-style: none;
        }
        .menu-list a {
            margin-left: 20px;
            font-size: pxTorem(18px);
        }
    }
}
#singlepage-navigation {
    position: relative;
    z-index: 1;
    color: $front-bg-color;
    .nav-wrapper {
        width: $front-bg-width;
        left: 50%;
        transform: translateX(-50%);
        position: absolute;
        height: pxTorem(80px);
        .sitelogo {
            position: absolute;
            bottom: 0;
            float: left;
            font-size: pxTorem(36px);
            font-weight: 700;
        }
        .menu-list {
            position: absolute;
            bottom: 0;
            right: 0;
            float: right;
            list-style: none;
        }
        .menu-list a {
            margin-left: 20px;
            font-size: pxTorem(18px);
        }
    }
}

#singlepage {
    background-color: $front-bg-color;
    .content-bg {
        width: $front-bg-width;
        max-width: 100%;
        background-color: $front-bg-color;
        box-shadow: 0 0 16px rgba(0, 0, 0, 0.16);
        margin: 0 auto;
        margin-bottom: 40px;
        padding-bottom: 40px;
        .head-wrapper {
            position: relative;
            width: 100%;
            height: pxTorem(400px);
            z-index: 0;
        }
        .head-wrapper .post-title {
            position: absolute;
            width: 100%;
            bottom: 0;
            padding-top: 76px;
            padding-bottom: 40px;
            text-align: center;
            background: linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 100%);
        }
        .head-wrapper .post-title h1 {
            color: $back-bg-color;
            font-size: pxTorem(36px);
            margin-bottom: pxTorem(20px);
            @media screen and (max-width:800px){
                font-size: pxTorem(24px);
        }
        }

        .head-wrapper .post-title .post-meta {
            color: #D7D7D7;
        }
        .content {
            padding: 0 4rem 0 4rem;
            margin: auto;
            margin-top: 36px;
        }
    }
}

// singlepage words style
#singlepage {
    .content {
        h1,h2,h3,h4,h5,h6 {
            position: relative;
            color: $title-font-color;
        }
        h1 {
            margin-top: 3rem;
            margin-bottom: 3rem;
            text-align: center;
            position: relative;
        }
        h2 {
            margin: 3rem auto 2rem;
            padding-left: 1rem;
            border-left: 4px solid $default-font-color;
        }
        h3,h4,h5,h6 {
            margin: 2rem 0;
        }
        h2:hover:before {
            content: "H2";
            position: absolute;
            left: -3rem;
            font-size: .5rem;
            color: $last-font-color;
        }
        h3:hover:before {
            content: "H3";
            position: absolute;
            left: -3rem;
            font-size: .5rem;
            color: $last-font-color;
        }
        h4:hover:before {
            content: "H4";
            position: absolute;
            left: -3rem;
            font-size: .5rem;
            color: $last-font-color;
        }
        h5:hover:before {
            content: "H5";
            position: absolute;
            left: -3rem;
            font-size: .5rem;
            color: $last-font-color;
        }
        h6:hover:before {
            content: "H6";
            position: absolute;
            left: -3rem;
            font-size: .5rem;
            color: $last-font-color;
        }
        p {
            margin-bottom: pxTorem(16px);
        }
        a {
            border-bottom: 1px dashed $accent-color;
            color: $accent-color;
            &:hover {
                background-color: $accent-color;
                color: $front-bg-color;
                transition: ease-in .3s all;
            }
        }
        img[src$='#center'] {
            display: block;
            margin: pxTorem(50px) auto;
            max-width: 95%;
            border: 1px solid #D7D7D7;
            border-radius: 4px;
          }
        ul {
            margin-left: 1.5rem;
            list-style: disc;
        }
        ol {
            list-style: decimal-leading-zero;
            margin-left: 1.5rem;
          }
        ul ul {
            list-style-type: circle;
        }
        ol ol,
        ul ul,
        ul ol,
        ol ul {
            margin-top: .5rem;
        }
        ul li,
        ol li,
        li ul,
        li ol,
        ul ul,
        ol ol {
            margin-left: 1rem;
        }
        li {
            line-height: 2.5rem;
        }
        hr {
            border: none;
            border-bottom: 1px solid #999;
            margin: 3rem auto;
            height: 15px;
        }
        .footnotes {
            height: auto;
            color: #555;
            cursor: pointer;
            font-size: .75rem;
        }
        .footnote-ref {
            margin-left: 4px;
            padding: 0 pxTorem(4px);
            border-radius: 2px;
            color: $front-bg-color;
            background-color: $default-font-color;
        }
        table {
            margin: 1.5rem auto;
            width: 100%;
            th {
                background-color: $thead-bg-color;
                padding: .5rem 1rem;
                border: 1px solid $tbody-bg-color
            }
            tbody {
                background-color: $tbody-bg-color;
            }
            td {
                border: 1px solid $thead-bg-color;
                padding: 0.5rem 1rem;
                color: var(--text-color);
            }
        }
        pre {
            margin: pxTorem(20px) auto pxTorem(40px);
        }
        code {
            font-family: $code-font;
        }
        p code,
        li code {
            padding: 0 .2rem;
            margin: 0 .2rem;
            background-color: $last-font-color;
            border-radius: 4px;
            color: $front-bg-color;
        }
    }
}