$front-bg-color:#ffffff;
$back-bg-color:#ffffff;
$footer-bg-color:#2d2d2d;

$accent-color:#fc4041;
$default-font-color:#2d2d2d;
$title-font-color:#1D1D1D;
$sencondary-font-color:#707070;
$last-font-color: #999999;
$quota-bg-color: #f3f3f3;

$thead-bg-color: #e6e6e6;
$tbody-bg-color:#f5f5f5;

$front-bg-width:920px;
$content-width:80%;
$side-null-width:25%;

$default-font: "Noto Sans SC", Helvetica;
$code-font: "Fira Code", Montserrat, Cousine;
$accent-font: "Noto Serif SC", Helvetica;

$default-font-size: 16px;

@function pxTorem($px) {
    @return $px / $default-font-size * 1rem;
}

@mixin listfullstye {
    ul {
        margin-left: 1.5rem;
        list-style: disc;
    }
    ol {
        list-style: decimal-leading-zero;
        margin-left: 1.5rem;
      }
    ul ul {
        list-style-type: circle;
    }
    ol ol,
    ul ul,
    ul ol,
    ol ul {
        margin-top: .5rem;
    }
    ul li,
    ol li,
    li ul,
    li ol,
    ul ul,
    ol ol {
        margin-left: 1rem;
    }
    li {
        line-height: 2.5rem;
    }
}
@mixin contentbg {
    width: $front-bg-width;
    max-width: 100%;
    min-height: 80vh;
    background-color: $front-bg-color;
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.16);
    margin: 0 auto;
    margin-bottom: 40px;
    padding-bottom: 40px;
}

//globle style

* {margin: 0;padding: 0;box-sizing: border-box;}

body {
    color: $default-font-color;
    font-size: pxTorem(16px); 
    line-height: 1.8rem; 
    font-family: $default-font;
    text-rendering: optimizeLegibility !important;
    scroll-behavior: smooth !important;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-font-smoothing: initial;
}
a {text-decoration: none; font-family: $default-font; color: $default-font-color;}

a:hover {
    text-decoration: none;
    color: $sencondary-font-color;
}

::selection {
    color: white;
    background-color: $accent-color;
}
// globle style end

//markdown style

h1,h2,h3 {
    font-weight: 700;
    word-break: break-all;
}

h1 {
    font-size: 2rem;
    line-height: 2.2rem;
    margin: 0 auto;
    @media screen and (max-width:1000px) {
        font-size: pxTorem(24px);
    }
}

h2 {
    font-size: 1.8rem;
    margin: 20px auto;
}

h3 {
    font-size: 1.6rem;
    margin: 20px auto;
}

h4 {
    font-size: 1.5rem;
}

h5, h6 {
    font-size: 1.25rem;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

img {
    max-width: 100%;
}

blockquote {
    background-color: $quota-bg-color;
    margin: 2rem -4rem;
    padding: 2rem 4rem;
    font-family: $accent-font;
    position: relative;
    z-index: 999;
    p {
        color: $default-font;
        margin-bottom: 0 !important;
    }
    &::after {
        font-family: 'Material Icons';
        content: '\e244';
        font-size: 60px;
        transform: rotate(180deg);
        color:rgb(184, 184, 184);
        position: absolute;
        top: pxTorem(20px);
        left: 20px;
        z-index: -1;
    }
}

ul, ol {
    list-style: none;
    margin: 1.5rem;
}

// markdown style end

#home-navigation {
    height: 0px;
    position: relative;
    top: 300px;
    .nav-wrapper {
        width: $front-bg-width;
        position: relative;
        max-width: 100%;
        margin: 0 auto;
    }
    .sitelogo {
        position: absolute;
        left: 1rem;
        bottom: 0;
    }
    ul.menu-list {
        position: absolute;
        right: 1rem;
        bottom: 0;
        margin: 0;
    }
    .nav-wrapper .menu-list a {
        margin-left: 20px;
        font-size: pxTorem(18px);
    }
    @media screen and (max-width:640px) {
        position: unset;
        height: 180px;
        .nav-wrapper {
            position: unset;
            width: 100%;
        }
        .sitelogo {
            left: 50%;
            transform: translateX(-50%);
            top: 30px;
            bottom: unset;
        }
        ul.menu-list {
            height: pxTorem(50px);
            line-height: pxTorem(50px);
            background-color: $thead-bg-color;
            width: 100%;
            top: 140px;
            right: unset;
            text-align: center;
        }
    }
}
#singlepage-navigation {
    height: 100px;
    .nav-wrapper {
        width: $front-bg-width;
        position: relative;
        max-width: 100%;
        margin: 0 auto;
    }
    .nav-wrapper .sitelogo {
        position: absolute;
        top: 50%;
    }
    ul.menu-list {
        // float: right;
    }
    .nav-wrapper .menu-list a {
        margin-left: 20px;
        font-size: pxTorem(18px);
    }
}

#homepage {
    .bgtop {
        background:url('/images/homepage-top.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position-x: center;
        width: 100%;
        height: 320px;
        @media screen and (max-width:640px) {
            display: none;
        }
    }
    .content-bg {
        width: $front-bg_width;
        max-width: 100%;
        border-radius: 4px;
        border: 1px solid #e2e2e2;
        background-color: $front-bg-color;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        margin: 0 auto;
        margin-bottom: 40px;
        @media screen and (max-width:640px) {
            box-shadow: unset;
            border: unset;
        }
    }
    .homepage-posts {
        margin:auto;
        margin-top: pxTorem(56px);
        margin-bottom: pxTorem(30px);
        width: $content-width;
        .post-title {
            text-align: center;
            margin-top: pxTorem(56px);
            margin-bottom: pxTorem(12px);
            a:hover {
                border-bottom: 1px solid $default-font-color;
            }
        }
        .post-date {
            margin-bottom: 26px;
            text-align: center;
            font-size: 14px;
            color: $last-font-color;
        }
        img {
            display: block;
            border-radius: 4px;
            width: 90%;
            height: auto;
            margin: 0 auto;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.16);
            margin-bottom: 30px;
            transition: ease-out .3s all;
            &:hover {
                box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.4);
                transform: translateY(-10px);
                transition: ease-out .3s all;
            }
        }
        .post-summary {
            text-align: left;
            color: $sencondary-font-color;
        }
        .post-meta {
            margin-top: pxTorem(50px);
            font-size: pxTorem(14px);
            color: $last-font-color;
            @media screen and (max-width:640px) {
                margin-top: pxTorem(20px);                       
            }
            .post-cate, .post-tags {
                margin-right: pxTorem(18px);
                @media screen and (max-width:640px) {
                    display: none;                   
                }
            }
            .post-tags a {
                margin-right: 6px;
            }
            .post-tags a::before {
                font-family: "Material Icons";
                content: "\e9ef";
                color: $sencondary-font-color;
            }
            .more {
                position: relative;
                margin-right: 0px;
                float: right;
                z-index: 1;
                @media screen and (max-width:640px) {
                    display: block;
                    position: unset;
                    float: unset; 
                    a:before {
                        display: none;
                    }                   
                }
                a {
                    margin-right: pxTorem(10px);
                    z-index: 10;
                }
                svg {margin-left: pxTorem(10px);}  
                a::before {
                    position: absolute;
                    content: "";
                    top: pxTorem(-14px);
                    left: pxTorem(50px);
                    width: pxTorem(64px);
                    height: pxTorem(64px);
                    border-radius: 50%;
                    background: #F2F2F2;
                    transition: all .1s ease-in;
                    z-index: -1;
                }
                a:hover {
                    &::before {
                        background: $accent-color;
                        transition: all .1s ease-in;
                    }
                    & path {
                        position: relative;
                        fill: white;
                        transition: all .1s ease-in;
                        @media screen and (max-width:640px) {
                            fill: #1b1b1b;
                        }
                    }
                }
            }
        }
    }
    .post-divider {
        margin-top: pxTorem(12px);
        height: 0px;
        background: transparent;
        border: 1px solid #ebebeb;
    }
    &:last-child .post-divider {
        border: 0px;
    }
}

#footer {
    padding: 20px;
    margin-bottom: -40px;
    font-size: pxTorem(14px);
    .content {
        text-align: center;
        color: $sencondary-font-color;
        a {color: $accent-color;}
    }
}

#singlepage {
    background-color: $front-bg-color;
    .content-bg {
        @include contentbg()
        .head-wrapper {
            position: relative;
            width: 100%;
            height: pxTorem(400px);
            z-index: 0;
        }
        .head-wrapper .post-title {
            position: absolute;
            width: 100%;
            bottom: 0;
            padding-top: 76px;
            padding-bottom: 40px;
            text-align: center;
            background: linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 100%);
        }
        .head-wrapper .post-title h1 {
            color: $back-bg-color;
            font-size: pxTorem(36px);
            margin-bottom: pxTorem(20px);
            @media screen and (max-width:800px){
                font-size: pxTorem(24px);
            }
        }

        .head-wrapper .post-title .post-meta {
            color: #D7D7D7;
            font-size: pxTorem(14px);
        }
        .content {
            padding: 0 4rem 0 4rem;
            margin: auto;
            margin-top: 36px;
        }
    }
}

#singlepage .post-pagination {
    width: 90%;
    margin: 4rem auto 2rem;
    display: flex;
    justify-content: space-between;
    .pre-post {
        width: 50%;
        line-height: 2rem;
        display: inline-block;
    }
    .next-post {
        width: 50%;
        text-align: right;
        line-height: 2rem;
        display: inline-block;
    }
}
// waline hack
#waline {
    .v[data-class=v] .vwrap .vheader .vinput {border-bottom: 1px solid #f0f0f0;}
    .vwrap {
        border-radius: 0px !important;
        border-right: none !important;
        border-left: none !important;
    }
    .vpower {
        margin-right: 10px;
        a {color: $accent-color;}
    }
    .vcount {
        margin-left: 10px;
    }
    .vcard {
        padding: 10px;
    }
    .vcontent {
        font-size: $default-font-size;
    }
    .vnick {
        color: $default-font-color;
        font-weight: 700;
    }
    .vat {
        float: unset !important;
    }
}
// waline hack end

// singlepage words style
#singlepage {
    @include listfullstye()
    .content {
        h1,h2,h3,h4,h5,h6 {
            position: relative;
            color: $title-font-color;
        }
        h1 {
            margin-top: 3rem;
            margin-bottom: 3rem;
            text-align: center;
            position: relative;
            &::before {
                position: absolute;
                content: "";
                width: 6rem;
                height: .3rem;
                background-color: lighten($color: $default-font-color, $amount: 30%);
                bottom: -.7rem;
                left: 50%;
                transform: translateX(-50%);
                border-radius: 4px;
                transition: ease-in all .3s;
            }
            &:hover::before {
                background-color: $accent-color;
                width: 10rem;
                transition: ease-in all .3s;
            }
        }
        h2 {
            margin: 3rem auto 2rem;
            padding-left: 1rem;
            border-left: 4px solid $default-font-color;
        }
        h3,h4,h5,h6 {
            margin: 2rem 0;
        }
        h2:hover:before {
            content: "H2";
            position: absolute;
            left: -3rem;
            font-size: .5rem;
            color: $last-font-color;
        }
        h3:hover:before {
            content: "H3";
            position: absolute;
            left: -3rem;
            font-size: .5rem;
            color: $last-font-color;
        }
        h4:hover:before {
            content: "H4";
            position: absolute;
            left: -3rem;
            font-size: .5rem;
            color: $last-font-color;
        }
        h5:hover:before {
            content: "H5";
            position: absolute;
            left: -3rem;
            font-size: .5rem;
            color: $last-font-color;
        }
        h6:hover:before {
            content: "H6";
            position: absolute;
            left: -3rem;
            font-size: .5rem;
            color: $last-font-color;
        }
        p {
            margin-bottom: pxTorem(16px);
        }
        a {
            border-bottom: 1px dashed $accent-color;
            color: $accent-color;
            margin: 0 .2rem;
            padding: 0 .15rem;
            border-radius: 2px;
            &:hover {
                background-color: $accent-color;
                color: $front-bg-color;
                transition: ease-in .3s all;
            }
        }
        img[src$='#center'] {
            display: block;
            margin: pxTorem(50px) auto;
            max-width: 95%;
            border: 1px solid #D7D7D7;
            border-radius: 4px;
          }
        hr {
            border: none;
            border-bottom: 1px solid #999;
            margin: 3rem auto;
            height: 15px;
        }
        .footnotes {
            height: auto;
            color: #555;
            cursor: pointer;
            font-size: .75rem;
        }
        .footnote-ref {
            margin-left: 4px;
            padding: 0 pxTorem(4px);
            border-radius: 2px;
            color: $front-bg-color;
            background-color: $default-font-color;
        }
        table {
            margin: 1.5rem auto;
            width: 100%;
            th {
                background-color: $thead-bg-color;
                padding: .5rem 1rem;
                border: 1px solid $tbody-bg-color
            }
            tbody {
                background-color: $tbody-bg-color;
            }
            td {
                border: 1px solid $thead-bg-color;
                padding: 0.5rem 1rem;
                color: var(--text-color);
            }
        }
        pre {
            margin: pxTorem(20px) auto pxTorem(40px);
        }
        code {
            font-family: $code-font;
        }
        p code,
        li code {
            padding: 0 .2rem;
            margin: 0 .2rem;
            background-color: $last-font-color;
            border-radius: 4px;
            color: $front-bg-color;
        }
    }
}
// singlepage words style end


// list page start
#archive {
    .content-bg {
        @include contentbg()
        display:flex;
        justify-content: space-between;
        padding: 2rem;
    }
    .left-wrap {
        width: 60%;
        margin-right: pxTorem(60px);
        .posts {
            margin: 1rem 0;
            &:first-child {margin-top: 0;}
            .post-date {
                float: right;
            }
        }
        a:hover {
            border-bottom: 1px solid $default-font-color;
        }

    }
    .right-wrap {
        width: 35%;
        p {
            border-bottom: 1px solid $thead-bg-color;
            height: pxTorem(36px);
            font-weight: 700;
        }
        .cate {
            a {
                display: block;
                margin-top: pxTorem(20px);
                height: 40px;
                span {
                    margin-left: 5px;
                    color: $last-font-color;
                }
            }
            img {
                margin-right: 1rem;
                vertical-align: middle;
            }
        }
        .tag {
            p {
            margin-top: 3rem;
            }
            a {
                display: inline-block;
                margin-top: pxTorem(16px); 
                margin-right: pxTorem(20px);
                padding: 4px;
                span {
                    margin-left: 5px;
                    color: $last-font-color;
                }
                &:hover {
                    span {color: $quota-bg-color;}
                    background-color: $default-font-color;
                    color: $quota-bg-color;
                    border-radius: 2px;
                }
            }
        }
    }
}
// list page end

// list paginator start
.pagination-list {

    margin: 0 2rem;
    padding: 10px;
    li {
      display: inline-block;
    }
  }
  .listPagination {
    text-align: center;
    margin-bottom: 3rem;
    margin-top: 3rem;
  }
  .pagination-link {
    a {
      display: inline-block;
      width: 30px;
      height: 30px;
      line-height: 30px;
      text-align: center;
      color: $default-font-color;
      text-decoration: none !important;
    }
    &.is-current {
      a {
        display: inline-block;
        border: 0px solid rgb(201, 201, 201);
        width: 30px;
        height: 30px;
        line-height: 30px;
        text-align: center;
        color: white;
        background-color: #292929;
        border-radius: 4px;
      }
    }
  }
  .pagination-previous,
  .pagination-next,
  .listPagination .pagination-list {
    display: inline-block;
    color: #292929;
  }
  .pagination-ellipsis {
    margin: 0px 10px;
  }
  .pagination-previous-none,
  .pagination-next-none,
  .pagination-previous-none:hover,
  .pagination-next-none:hover {
    color: #bbb;
    text-decoration: #bbb;
    cursor: not-allowed;
  }
  .pagination-ellipsis {
      cursor: not-allowed;
  }
  
// list paginator end