$front-bg-color:#ffffff;
$footer-bg-color:#2d2d2d;

$accent-color:#fc4041;
$default-font-color:#333;
$title-font-color:#1D1D1D;
$sencondary-font-color:#707070;
$last-font-color: #999999;
$quota-bg-color: #f3f3f3;
$divider-color:#eee;

$thead-bg-color: #e6e6e6;
$tbody-bg-color:#f5f5f5;

$globle-wrap-width:920px;
$content-width:80%;

$default-font: "Noto Sans SC", "Microsoft YaHei", SimHei;
$code-font: "Fira Code", Montserrat, Cousine;
$accent-font: "Noto Serif SC", FangSong;
$last-font: Oswald;

$default-font-size: 16px;

@function pxTorem($px) {
    @return $px / $default-font-size * 1rem;
}

@mixin listfullstye {
    ul {
        margin-left: 1.5rem;
        list-style: disc;
    }
    ol {
        list-style: decimal-leading-zero;
        margin-left: 1.5rem;
      }
    ul ul {
        list-style-type: circle;
    }
    ol ol,
    ul ul,
    ul ol,
    ol ul {
        margin-top: .5rem;
    }
    ul li,
    ol li,
    li ul,
    li ol,
    ul ul,
    ol ol {
        margin-left: 1rem;
    }
    li {
        line-height: 2.5rem;
    }
}

@mixin contentbg {
    width: $globle-wrap-width;
    max-width: 100%;
    background-color: $front-bg-color;
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.16);
    margin: 0 auto;
    margin-bottom: 40px;
    padding-bottom: 40px;
}

@mixin dividerstyle {
    height: 1px;
    background-color: $divider-color;
    border:none;
    max-width: 100%;
}

@import "/foundation/global.scss";

@import "/foundation/navigation.scss";

@import "/foundation/homePage.scss";

@import "/foundation/footer.scss";

@import "/foundation/singlePage.scss";

@import "/foundation/pagination.scss";

@import "/foundation/listPage.scss";

@import "/foundation/toc.scss";

@import "/foundation/vendorHacker.scss";

.wrap {
    width: $globle-wrap-width;
    max-width: 100%;
    border-radius: 0 0 4px 4px;
    background-color: $front-bg-color;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
    padding-bottom: 1rem;
    @media screen and (max-width:$globle-wrap-width) {
        box-shadow: unset;
        border: unset;
        border-top: 1px solid #e2e2e2;
        border-radius: unset;
    }
    @media screen and (max-width:640px) {
        box-shadow: unset;
        border: unset;
    }
}

#back-to-top {
    z-index: 999;
}