{{if not .IsPage}}
<div id="navigation">
    <div class="bg"></div>
    <div class="nav-wrapper">
        <img src="
        {{- .Site.BaseURL -}}images/titled-logo.png" class="sitelogo
        ">
        <ul class="menu-list">
            <li>
                {{ $currentPage := . }}
                {{ range .Site.Menus.main }}
                    <a class="sidebar-nav-item{{if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }} active{{end}}" href="{{ .URL }}" title="{{ .Title }}">{{- .Name -}}</a>
                {{ end }}
            </li>
        </ul>
    </div>
</div>
{{end}}